<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <title>Money Transfer Result</title>
    <meta charset="utf-8"/>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous">
</head>
<body>

<div th:insert="navbar :: navigation"></div>

<div class="container">
    <p>
    <h3>Money Transfer Result</h3>
    </p>
</div>
<div class="container">
    <!-- IF SUCCESS FLAG IS TRUE -->
    <div th:if="${moneyTransferResultBean.successFlag}">
        <div class="alert alert-primary" role="alert">
            <span th:text="${moneyTransferResultBean.message}" />
        </div>
    </div>
    <!-- ELSE -->
    <div th:unless="${moneyTransferResultBean.successFlag}">
        <div class="alert alert-danger" role="alert">
            <span th:text="${moneyTransferResultBean.message}" />
        </div>
    </div>
</div>

</body>
</html>