<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <title>Money Transfer</title>
    <meta charset="utf-8"/>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous">
</head>
<body>

<div th:insert="navbar :: navigation"></div>

<div class="container">
    <p>
    <h3>Money Transfer</h3>
    </p>
</div>
<div class="container">
    <form method="post" th:action="@{/accountclient/transfer}"
          class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="id_fromAccount">From</label>
                <select th:field="${moneyTransferBean.fromAccount.id}" id="id_fromAccount" class="form-control">
                    <option value=""> Choose </option>
                    <option th:each="account : ${moneyTransferBean.accounts}"
                            th:value="${account.id}"
                            th:utext="${account.unitNum}+ '-' + ${account.accountNum}+ '-' + ${account.balanceAmount}"/>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="id_toAccount">To</label> <input type="text"
                                                            class="form-control" id="id_toAccount"
                                                            th:field="${moneyTransferBean.unitAndAccount}"
                                                            placeholder="Unit - Account" value="Unit - Account">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="id_money">To</label> <input type="number"
                                                            class="form-control" id="id_money"
                                                            th:field="${moneyTransferBean.money}"
                                                            placeholder="Money" value="Money">
            </div>
        </div>

        <button class="btn btn-dark" type="submit">Send Money</button>

    </form>
</div>

</body>
</html>